*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
.banner{
	width: 100%;
	height: 700px;
	animation: banner 10s infinite linear alternate;
	background-size: 100% 100%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 100px;
}
@keyframes banner{
	0%, 20%{
		background-image: url("https://fondosmil.com/fondo/12406.jpg");
	}
	25%, 45%{
		background-image: url("https://www.todopaisajes.com/Minis/ciudad-de-noche.jpg");
	}
	50%, 70%{
		background-image: url("https://i.pinimg.com/originals/b9/1d/fd/b91dfdd21cf816a69ed544d6800680a4.jpg");
	}
	75%, 100%{
		background-image: url("https://i.pinimg.com/originals/55/5e/52/555e52ca50443a4d366858dc5c83d540.jpg");
	}
}
.capa{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.6);
}
.info{
	z-index: 1;
	width: 100%;
	max-width: 550px;
	text-align: center;
}
.info h1{
	color: #fff;
	font-size: 45px;
	margin-bottom: 20px;
	letter-spacing: 1px;
	color: transparent;
}
.info p{
	color: #c7c7c7;
	line-height: 1.7;
	margin-bottom: 30px;
	color: transparent;
}
.info a{
	color: #fff;
	text-decoration: none;
	background: ;
	padding: 16px 37px;
	display: inline-block;
	border-radius: 50px;
	color: transparent;
}

.Inicio { 
	padding-right: 40px;
}
.recetas {
	padding-right: 20px;
}
.aprende {
	padding-right: 10px;
}
.mejores {
	padding-right: 20px;
}
.restaurantes {
	padding-right: 20px;
}
.latino {
	margin-top: 100px;
	text-align: center;
	
}
.comidalatin {
	margin-top: 100px;
  	text-align: center;
}
.resumenlatin {
	text-align: center;
	margin-top: 20px;
}
.boton1 {
	color: #fff;
	background: #3088e0;
	padding: 16px 37px;
	display: inline-block;
	border-radius: 50px;
	margin-top: 20px;
	text-decoration: none;

}
#conteItemCarrusel {
	height: 400px;
	overflow: hidden;
	margin-top: 150px;
}

.itemCarrusel {
	height: 100%;
	position: relative;
}

.tarjetaCarrusel {
	height: 100%;
}
.flechasCarrusel {
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
}
.a {
	text-decoration: none;
}
i {
	color: black;
}
img{
	width: 100%;
	height: 100%;
}
 {
    font-size: 2.6rem;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0 0 8px rgb(0, 0, 0, 0.8);
}
.container {
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
}
---------------------------

body { 
    min-height: 100vh;
    font-family: 'Raleway', sans-serif;
}

.titulo {
    font-size: 40px;
    font-family: 'Dancing Script', cursive;
    margin-bottom: 40px;
    color: black;
}

.subtitulo {
    margin: 0;
    color: #000;
    display: inline;
    font-size: 50px;
    font-weight: 500;
    text-transform: uppercase;
}

.sabor { 
    color: #fff;
    margin: 7px 0;
    font-size: 50px;
    font-weight: 600;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.7);
    font-family: 'Dancing Script', cursive;
    margin-top: 0;
}

.linea-division {
    width: 80%;
    height: 2px;
    background-color: #36221c;
}

.carousel {
    min-height: 500px;
}

.carousel .carousel-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    width: 500px;
    height: 500px;
}

.carousel .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 15px;

}
.carr {
    color: white;
}