
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');

html {
    font-size: 62.5%;
    box-sizing: border-box;
  }
  
  *, *::before, *::after {
    box-sizing: inherit;
  }
  
  body {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    font-family: 'Noto Sans JP', sans-serif;
    
    background-size: cover;
   
  }
  .log{
      display:flex;
      padding:0;
  }
  .log li{
      padding: 0 40px;
      list-style-type: none;
      transition: 0.3s;
  }

  .log li a{
      text-decoration:none;
      font-size: 1.8rem;
      color:#f3f3f3;
      font-weight:100;
      font-family: 'Dancing Script', cursive;
  }
  .enlaces-menu li:hover{
      background-color:rgb(62, 130, 197);
  }
  
  .logo{
    width: 120px;
    height: 25px;  
  }
 

  nav{
      display: flex;
      align-items:center;
      justify-content: space-around;
      min-height:8vh;
      background-color: #294674;
  }

  .ham{
    display:none;
    background-color:transparent;
    cursor: pointer;
    border:none;
    margin:0;
    padding:0;
    }
    
    .ham span{
        background-color: #f3f3f3;
        display:block;
        height:3px;
        width: 28px;
        margin:10px auto;
        border-radius:2px;    
    }
  .enlaces-menu{
      display:flex;
      padding:0;
  }
  .enlaces-menu li{
      padding: 0 40px;
      list-style-type: none;
      transition: 0.3s;
  }

  .enlaces-menu li a{
      text-decoration:none;
      font-size: 1.8rem;
      color:#f3f3f3;
      font-weight:100;
      font-family: 'Dancing Script', cursive;
  }
  .enlaces-menu li:hover{
      background-color:rgb(62, 130, 197);

  }


/* DISPOSITIVOS MOVILES */

  @media (max-width:768px) {
    body{
      
    }
      .ham{
          display:block;
          cursor:pointer;
          position: absolute; 
          top:15px;
          right:25px;
          transition: 0.2s  0.1s; 
  
      }
   
      
      nav{
          flex-direction:column;
          align-items: flex-start;
          padding-top: 25px;
          padding-bottom: 25px;
      }

      .logo{
        padding-left:25px;
        
      }

      .enlaces-menu{
        
          flex-direction:column;
          justify-content: space-around;
          align-items:center;
          height: 92vh;         
          margin:0;
          padding:0; 
          display:none;
          opacity:0;
          transition: opacity 5s ease-out;
          width:100%;
      
         
      }
      .enlaces-menu li{
        text-align:center;
        width:100%;
        padding:20px;    
    }
  
}

/* Animaciones */
  
@keyframes muestraMenu {
    from {opacity: 0;}
    to {opacity: 1;}
  }

  .enlaces-menu.activado{
      display:flex; 
      animation: muestraMenu 350ms ease-in-out both;
  }

  .br-1.animado{
    transform: rotate(-45deg) translate(-10px, 8px);
  }
  
  .br-2.animado{
    opacity: 0;
  }
  .br-3.animado{
    transform: rotate(45deg) translate(-10px, -8px);
  }

 .ham.girar:hover{
     transform:rotate(360deg);
 }*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.banner{
  width: 100%;
  height: 600px;
  animation: banner 10s infinite linear alternate;
  background-size: 100% 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
@keyframes banner{
  0%, 20%{
    background-image: url("https://dam.cocinafacil.com.mx/wp-content/uploads/2020/08/cocinar-mas-rapido.jpg");
  }
  25%, 45%{
    background-image: url("https://t1.rg.ltmcdn.com/es/posts/7/4/1/ceviche_peruano_18147_orig.jpg");
  }
  50%, 70%{
    background-image: url("https://d320djwtwnl5uo.cloudfront.net/recetas/cover/causa_Cv0xOn6s2WIVwgK7lymAzMHSDQh4Et.png");
  }
  75%, 100%{
    background-image: url("https://perudelights.com/wp-content/uploads/2011/05/lomo.jpeg");
  }
}
.capa{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.6);
}
.info{
  z-index: 1;
  width: 100%;
  max-width: 550px;
  text-align: center;
}
.info h1{
  color: #fff;
  font-size: 45px;
  margin-bottom: 20px;
  letter-spacing: 1px;
  color: transparent;
}
.info p{
  color: #c7c7c7;
  line-height: 1.7;
  margin-bottom: 30px;
  color: transparent;
}
.info a{
  color: #fff;
  text-decoration: none;
  background: ;
  padding: 16px 37px;
  display: inline-block;
  border-radius: 50px;
  color: transparent;
}
.latino {
  text-align: center;
  margin-top: 100px;  
}
.comidalatin {
  margin-top: 100px;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
}
.resumenlatin {
  text-align: center;
  margin-top: 20px;
  font-size: 15px;
}
.boton1 {
  color: #fff;
  background: #3088e0;
  padding: 16px 37px;
  display: inline-block;
  border-radius: 50px;
  margin-top: 20px;
  text-decoration: none;


}
#comidarecomendada {
  text-align: center;
    margin-top: 100px;
    color: transparent;
}
.comidarecomendadas {
  text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    
}



.imgtitulo{
}

.aprendetitulo {
  margin-top: 50px;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}
.resutitulo {
  margin-top: 20px;
  text-align: center;
  font-size: 15px;
}
.aprendetitulos {
  margin-top: 50px;
  text-align: center;
  font-family: 'Dancing Script', cursive;
  font-size: 40px;
}
.imgtitulos {
  margin-top: 100px;
}
.latino3 {
  margin-top: 200px;
}
.comidalatin2 {
  font-family: 'Dancing Script', cursive;
  text-align: center;
  font-size: 30px;
  margin-top: 200px;
}
.imgtitulo {
  margin-top: 60px;
}


.siguenos {
  text-align: center;
  margin-top: 100px;
  font-family: 'Dancing Script', cursive;
}
.f1 {
  font-size: 20px;
  text-align: center;
  letter-spacing: 20px;
}
.comunicanos {
  text-align: center;
  margin-top: 100px;
  font-family: 'Dancing Script', cursive;
}
.f2{
  font-size: 20px;
  text-align: center;
  
}
.ubicanos {
  font-family: 'Dancing Script', cursive;
  text-align: center;
  margin-top: 100px;
}

.peru {
  text-align: center;
}
.mundo {
  text-align: center;
  margin-top: 100px;
}
.f1 {
  position: relative;
  margin: 10px;
  font-size: 20px;
}
.f1 a {
  color: black;
}
.f2 {
  position: relative;
  font-size: 20px;
  text-align: center;
}
.f2 a {
  color: black;
}
#recetass {
  text-align: center;
    margin-top: 100px;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}
.rece2 {
  text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    margin-top: 150px;
}
#aprendeacocinar {
  margin-top: 200px;
    text-align: center;
    color: transparent;
}
.cocina {

    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
}
#comidarecomendada {
  text-align: center;
    margin-top: 100px;
    color: transparent;
}
.comidarecomendadas {
  text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    
}
.recet {
  text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;

}
#postres {
  
}
#sigue {
  text-align: center;
  color: transparent;
}